@model Challenger.Web.Models.AddSetViewModel


@using (@Html.BeginForm("AddSet", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()


  
        <div class="row">
            <div class="col-6">
                Repetitions:
            </div>
            <div class="col-6">
                @Html.TextBoxFor(m => m.Count, new { style = "max-width: 120px" })
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                Date:
            </div>
            <div class="col-6">
                @Html.TextBoxFor(m => m.Date, new { @Value = Model.Date.ToString("yyyy-MM-dd"), @class="datepicker", style = "max-width: 120px" })
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>

        @Html.HiddenFor(m => m.ChallengeId)

    
}
