@model Challenger.Web.Models.ChallengeViewModel

<h4>
    @Model.Name
</h4>

<div class="container">
    <div class="row">
        <div class="col-6">
            Done Today
        </div>
        <div class="col-6">
            @Model.TodayCount
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            Today's Goal
        </div>
        <div class="col-6">
            @Model.TodayGoal
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            Left To Do Today
        </div>
        <div class="col-6">
            @Model.TodayTodo
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            Done By Today
        </div>
        <div class="col-6">
            @Model.CurrentTotal
        </div>
    </div>
</div>

<hr />

<h5>Add set</h5>

@Html.Partial("_addSet", @Model.AddSetViewModel)

<hr />

<h5>
    Sets:
</h5>

<br />

<div class="container">
    @foreach (var set in @Model.SetsByDate)
    {
        <div class="row">
            <div class="col-4">
                <b>@set.Date.ToString("dd.MM.yyyy")</b>
            </div>
            <div class="col-8">
                <b>@set.Total</b>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <small>Sets on the day:</small>
            </div>
            <div class="col-8">
                @foreach (var actualSet in set.Sets)
                {
                    <small>@actualSet.Count</small>
                    <br />
                }
            </div>
        </div>

        <hr />
    }
</div>