@using Microsoft.AspNet.Identity

<span class="navbar-nav mr-auto mt-2 mt-lg-0"></span>

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-nav nav-link" }))
    {
        @Html.AntiForgeryToken()

        @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })*@


        if (ViewBag.UserSettingsSalutation == null)
        {
            <span class="nav-link">Hello @User.Identity.GetUserName()!</span>
        }
        else
        {
            <span class="nav-link">Hello @ViewBag.UserSettingsSalutation!</span>
        }

        <span>&nbsp;</span>

        <button class="btn btn-outline-danger btn-sm nav-link" onclick="javascript: document.getElementById('logoutForm').submit();" style="width: 100px;">
            Log off
        </button>

    }
}
else
{

    <button class="btn btn-light btn-sm nav-link" onclick="location.href = '@Url.Action("Login", "Account")';return false;" style="width: 100px;">
        Log in
    </button>

    <span>&nbsp;</span>

    <button class="btn btn-light btn-sm nav-link" onclick="location.href = '@Url.Action("Register", "Account")';return false;" style="width: 100px;">
        Register
    </button>
}
